In [0]:
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
print(a[1][1][1])

6



เขียนชื่อ นามสกุล อายุ คนสี่คน

In [0]:
ls = [['aname','alname',30],['bname','blname',40],['cname','clname',50],['dname','dlname',60]]
print (ls)

[['aname', 'alname', 30], ['bname', 'blname', 40], ['cname', 'clname', 50], ['dname', 'dlname', 60]]

ลบชื่อคนสุดท้ายออก ซึ่งมี index คือ 3

In [0]:
del ls[3]
print(ls)

[['aname', 'alname', 30], ['bname', 'blname', 40], ['cname', 'clname', 50]]

แทรกชื่อ คนที่ 5 ใน index ที่ 0

In [0]:
ls.insert(0,['ename','elname',70])
print(ls)

[['ename', 'elname', 70], ['aname', 'alname', 30], ['bname', 'blname', 40], ['cname', 'clname', 50]]

เพิ่มอายุ คนที่ 3 ซึ่งปัจจุบันมี index = 2

In [0]:
ls[2][2]=ls[2][2]+10
print(ls)

[['ename', 'elname', 70], ['aname', 'alname', 30], ['bname', 'blname', 50], ['cname', 'clname', 50]]